*.class
.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!socam/lib/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
out/

# Derby specific files #
Log/
settings.xml

# Mac files #
.DS_Store


# Eclipse files #
.project
.classpath
bin

# Embedded db #
FactoryDB
GarageDB
derby.log

# IntelliJ file #
socam/socam.iml
